body {
    background: #f5f5f5;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600 !important;
}
nav {
    background-color: #fff !important;
}

main {
    background: #F5F5F5;
}

button.owl-dot.active span {
    background: #0090d3 !important;
}

a {
    transition: .5s;
}

a:hover {
    color: #0090d3;
}




ul.pagination li a {
    padding: 0;
    width: 35px;
    display: inline-block;
    height: 35px;
    color: #0090d3 !important;
    border: 1px solid #0090d3;
    text-decoration: none;
}
ul.pagination { line-height: 2;padding: 20px 15px 40px;}
ul.pagination li { margin: 0 5px; text-align: center;}
ul.pagination li.active a {  background: #0090d3; color: #fff !important;}

ul.pagination li a span.icon-Rightarrow:after {
    content: "→";
    color: #0090d3;
    text-decoration: none;
    font-weight: 700;
}
ul.pagination li a span.icon-Leftarrow:after {
    content: "←";
    color: #0090d3;
    text-decoration: none;
}




.item-design {
    .item {
      padding: 15px;
  
      .main-item-wrap {
        
        background: #fff;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 0 0 20px #00000014;
    
            .img-wrap {
              height: 200px;
              display: flex;
              justify-content: center;
              align-items: center;
      
                img {
                    height: 100%;
                    object-fit: contain;
                }
            }

            .item-desc {
                position: relative;
                    img {
                        width: 60px !important;
                        height: 60px;;
                        position: absolute;
                        right: 0;
                        top: -18px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        border: 1px solid #0b0e10;
                        border-radius: 50%;
                        object-fit: contain;
                    }
                    h5 {
                        text-align: left;
                        padding-top: 15px;
                    }
    
                    p {
                        text-align: left;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        min-height: 72px;
                        font-size: 14px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                    }
            }

            .price {
                text-align: left;
                border-top: 1px solid #ddd;
                padding-top: 5px;
                span {
                    font-size: 24px;
                    font-weight: 600;
                }
                strike {
                    color: #848484;
                }
            }
        }
      
    }
}