
main.search-page {
    background: #f5f5f5;
}


.search-products {
    .item {

  
      .item-wrap {
        background: #fff;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 0 0 20px #00000014;
  
        .item-desc {
          position: relative;
          img {
            width: 60px !important;
            position: absolute;
            right: 0;
            top: -18px;
            border-radius: 50px;
            border: 1px solid #0b0e10;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 60px !important;
            object-fit: none;

          }
          h5 {
            text-align: left;
            padding-top: 15px;
          }
  
          p {
            text-align: left;
          }
        }
        .price {
          text-align: left;
          border-top: 1px solid #ddd;
          padding-top: 5px;
          span {
            font-size: 24px;
            font-weight: 600;
          }
          strike {
            color: #848484;
          }
        }
      }
      .item-wrap > img {
        height: 215px;
        min-height: 240px;
      }
    }
  }


//  Search

#search-bar {
    input {
      border-color: #0B0E10;
      border-radius: 30px;
      height: 50px;
      text-indent: 20px;
    }
    button.btn.btn-primary {
      background: transparent;
      border: 0;
      position: absolute;
      right: 34px;
      top: 34px;
    }
  }
  
  #search-bar form.d-flex{
    position: relative;
    background: #fff;
    padding: 30px 20px;

  }

  #search-bar {
    background: #fff;
}
  

  // responsive
/* Using SCSS variables to store breakpoints */
$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
  .search-products .item .item-wrap > img {height: 115px;}
.search-products .item .item-wrap .price span { font-size: 12px;}
.search-products .item .item-wrap .price small { font-size: 8px;}
.search-products .item .item-wrap .item-desc h5 { font-size: 12px;}
.search-products .item .item-wrap .item-desc img {width: 40px !important;}
.search-products .item .item-wrap { padding: 10px;}
#search-bar input{height: 40px;}
#search-bar button.btn.btn-primary{top:18px;right: 12px;}

}