main.search-page {
  background: #f5f5f5;
}

//  Search

#search-bar {
  input {
    border-color: #9a9a9a;
    border-radius: 30px;
    height: 45px;
    text-indent: 20px;
    background: transparent;
  }
  button.btn.btn-primary {
    background: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
  }
}

.btn-show-filter {
  margin-right: 8px;
  height: 40px;
  margin-top: 10px;
}
#search-bar form {
  position: relative;
  // background: #fff;
  padding: 30px 0px;
}

.btn-simple {
  background: transparent !important;
  color: #3e3e3e !important;
  border-color: #3e3e3e;
  border-radius: 20px;
  border: 1px solid;
  padding: 5px 10px;
}

//   #search-bar {
//     background: #fff;
// }

.loading-msg {
  padding: 50px;
  font-size: 18px;
  text-align: center;
  color: #0090d3;
  font-weight: bold;
  width: 57%;
  margin: auto;
  line-height: 2;
}

.horizontal-slider {
  height: 3px !important;
  background: #333;
  margin-right: 15px;
}
.horizontal-slider .track.track-1,
.horizontal-slider .track.track-2 {
  background: #0090d3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -8px;
}
.horizontal-slider .thumb {
  margin-top: 10px;
  font-weight: 600;
}
.horizontal-slider .thumb:focus-visible {
  outline: none;
}
.price-range-slider {
  background: #fff;
  padding: 15px 15px 50px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}
.price-range-slider h6 {
  margin-bottom: 22px;
}

.img-wrap {
  position: relative;
}

.img-wrap .heart-icon {
  position: absolute;
  right: 0;
  top: -9px;
}

.img-wrap .heart-icon i {
  color: #aaa;
  font-size: 20px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}
i.fa.fa-heart {
  color: deeppink;
}

button#dropdown-sort {
  background: transparent !important;
  color: #3e3e3e !important;
  border-color: #3e3e3e;
  border-radius: 20px;
  height: 38px;
  margin-top: 10px;
}

.col-sm-12.cat-right {
  transition: 0.5s;
}
.search-title-wrapper h5 {
  margin-top: 15px;
}

.mob-filter-popup .modal-content {
  height: 100%;
}
.mob-filter-popup .modal-dialog {
  height: 100%;
}

.for-mobile {
  display: none;
}
.accordion-item {
  border: 0 !important;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
}
.accordion-content .accordion {
  line-height: 2;
}

.accordion-title .form-check label {
  position: relative;
  top: -5px;
}

.accordion-content.three .accordion-content .form-check {
  margin-left: 24px;
}
.accordion-content.three .accordion-content .form-check label {
  position: relative;
  top: -5px;
}

// .cat-icon i {
//   font-size: 12px !important;
// }
// .cat-icon {
//   font-size: 18px;
//   margin-top: -8px;
// }
.cat-icon span {
  font-size: 20px;
  margin-top: -11px;
  display: block;
}
.page-size {
  align-items: center;
  margin-top: 17px;
}

.page-size button {
  margin: 0 !important;
}

.page-size .text {
  margin-right: 10px;
}
.vendors-filter i {
  font-size: 24px;
  margin-top: -5px;
}

span.cate-view i {
    font-size: 20px;
    position: relative;
    top: 2px;
}

span.cate-view {
    font-size: 16px;
    text-decoration: underline;
    color: #0090d3;
    margin-top: 13px;
    display: block;
}
span.cate-view:hover {
  cursor: pointer;
}

// responsive
/* Using SCSS variables to store breakpoints */
$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
  .search-products .item .item-wrap > img {
    height: 115px;
  }
  .search-products .item .item-wrap .price span {
    font-size: 12px;
  }
  .search-products .item .item-wrap .price small {
    font-size: 8px;
  }
  .search-products .item .item-wrap .item-desc h5 {
    font-size: 12px;
  }
  .search-products .item .item-wrap .item-desc img {
    width: 40px !important;
  }
  .search-products .item .item-wrap {
    padding: 10px;
  }
  #search-bar input {
    height: 40px;
  }
  #search-bar button.btn.btn-primary {
    top: -5px;
    right: 12px;
  }

  .cat-for-mobile .sort-dropdown {
    margin-top: 11px;
  }

  .cat-for-mobile .sort-dropdown button {
    border-radius: 20px;
  }
  .for-desktop {
    display: none !important;
  }
  .for-mobile {
    display: block;
  }
}
