// Banner

#home__banner {
  padding-bottom: 40px;
  img {
    width: 100%;
  }
}
#home__banner .carousel-item img {
  height: 400px;
  object-fit: contain;
  min-height: 400px;
  // background: #dcdcdc;
}

.carousel-indicators button {
  background-color: #92c6df !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  margin: 0 8px !important;
}

.carousel-indicators button.active {
  background-color: #0090d3 !important;
}

.carousel-indicators {
  bottom: -50px !important;
}

.title-wrap {
  span {
    a {
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      color: #0b0e10;
      padding-left: 55px;

      &::after {
        content: "";
        // background-image: url('/assets/images/arrow.svg') no-repeat;
        width: 12px;
        height: 14px;
        position: absolute;
        right: -20px;
        top: 5px;
      }
    }
  }
}

.angle-right-icon {
  height: 12px;
}

//  Search

#home__search {
  input {
    border-color: #007cc3;
    border-radius: 30px;
    height: 50px;
    text-indent: 20px;
  }
  button.btn.btn-primary {
    background: transparent;
    border: 0;
    position: absolute;
    right: 15px;
    top: 4px;
    img {
      width: 20px;
    }
  }
}

#home__search form.d-flex {
  position: relative;
}

// categories

.cat-img {
  display: flex;
  justify-content: center;
  background: #ccc;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #0b0e10;
  min-height: 160px;

  img {
    width: 55px !important;
  }
}

.cat-item.beauty img {
  width: 80px !important;
}

.cat-item.mobile .cat-img {
  background: #219ebc;
}

.cat-item.perfume .cat-img {
  background: #d6ccc2;
}

.cat-item.watches .cat-img {
  background: #778da9;
}

.cat-item.fashion .cat-img {
  background: #ffafcc;
}
.cat-item.beauty .cat-img {
  background: #dda15e;
}

// Popular Search
// in common css

// Leaflet

#home__leaflet {
  .item {
    .main-item-wrap {
      .img-wrap {
        height: 300px;
      }

      .view {
        text-align: left;
        border-top: 1px solid #ddd;
        padding-top: 12px;

        span {
          font-size: 14px;
          font-weight: 600;
          display: flex;

          a {
            color: #0b0e10;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            transition: 0.5s;
          }
          img {
            width: 6px;
            margin-left: 6px;
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }
}

#home__leaflet .item .main-item-wrap .view a:hover {
  color: #0090d3;
  margin-right: 10px;
}

// Hot Deals

#home__hotdeals {
  padding-bottom: 80px;
  img {
    width: 100%;
  }

  .bottom img,
  .top img {
    height: 300px;
  }

  .right-image img {
    height: 340px;
  }

  .right-image .top {
    margin-bottom: 20px;
  }
}

.user_initial {
  text-align: center;
  font: 900 20px/20px "Lexend", sans-serif;
  letter-spacing: 0;
  color: #ffffff;
  border-radius: 50%;
  background: #007cc3;
  padding: 10px;
  text-transform: uppercase;
  width: 38px;
  margin-right: 10px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-user {
  // box-shadow: 0 4px 8px #0000001a;
  // border: 1px solid #007cc3;
  // border-radius: 10px;
  padding: 7px 10px;
  display: flex;
  align-items: center;
}

.d-user span {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #007cc3;
  margin-left: 0;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}
.popopen .d-user span {
  transform: rotate(180deg);
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

// responsive
/* Using SCSS variables to store breakpoints */
$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
  form.d-flex input {
    width: 100%;
  }
  form.d-flex {
    position: relative;
  }

  #home__popular .item .main-item-wrap > img {
    // height: 94px;
  }
  #home__leaflet .main-item-wrap > img {
    // height: 100px;
  }
  #home__hotdeals .right-image img {
    // height: 89px;
  }
  .cat-img {
    min-height: 70px;
  }
}
