// Banner

body {
  background: #f5f5f5;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
}

#home__banner {
  img {
    width: 100%;
  }
}
#home__banner .carousel-item img {
  height: 400px;
  object-fit: contain;
  min-height: 400px;
  background: #dcdcdc;
}

.title-wrap {
  span {
    a {
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      color: #0b0e10;
      padding-left: 55px;

      &::after {
        content: "";
        // background-image: url('/assets/images/arrow.svg') no-repeat;
        width: 12px;
        height: 14px;
        position: absolute;
        right: -20px;
        top: 5px;
      }
    }
  }
}

.angle-right-icon {
  height: 12px;
}

//  Search

#home__search {
  input {
    border-color: #007cc3;
    border-radius: 30px;
    height: 50px;
    text-indent: 20px;
  }
  button.btn.btn-primary {
    background: transparent;
    border: 0;
    position: absolute;
    right: 0;
    top: 4px;
  }
}

#home__search form.d-flex{
  position: relative;
}

// categories

.cat-img {
  display: flex;
  justify-content: center;
  background: #ccc;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #0b0e10;
  min-height: 160px;

  img {
    width: 55px !important;
  }
}

.cat-item.beauty img {
  width: 80px !important;
}

.cat-item.mobile .cat-img {
  background: #219ebc;
}

.cat-item.perfume .cat-img {
  background: #d6ccc2;
}

.cat-item.watches .cat-img {
  background: #778da9;
}

.cat-item.fashion .cat-img {
  background: #ffafcc;
}
.cat-item.beauty .cat-img {
  background: #dda15e;
}

// Popular Search

.item-design {
  .item {
    padding: 15px;

    .item-wrap {
      background: #fff;
      padding: 15px;
      border-radius: 20px;
      box-shadow: 0 0 20px #00000014;

      .item-desc {
        position: relative;
        img {
          width: 60px !important;
          position: absolute;
          right: 0;
          top: -18px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          border: 1px solid #0b0e10;
          border-radius: 50%;
          object-fit: none;
        }
        h5 {
          text-align: left;
          padding-top: 15px;
        }

        p {
          text-align: left;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          min-height: 72px;
        }
      }
      .price {
        text-align: left;
        border-top: 1px solid #ddd;
        padding-top: 5px;
        span {
          font-size: 24px;
          font-weight: 600;
        }
        strike {
          color: #848484;
        }
      }
    }
    .item-wrap > img {
      height: 320px;
    }
  }
}

// Leaflet

#home__leaflet {
  .item {

    .item-wrap {

      .item-desc {
       
        .vendor-logo {
          img {
            object-fit: contain;
            background: #fff;
            padding: 5px;
            border-radius: 50px;
            border: 1px solid #0b0e10;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 60px !important;
            position: absolute;
            right: 0;
            top: -18px;
            height: 60px;
          }
        }
      }
      .view {
        text-align: left;
        border-top: 1px solid #ddd;
        padding-top: 12px;
        span {
          font-size: 14px;
          font-weight: 600;
          display: flex;
          img {
            width: 6px;
            margin-left: 6px;
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }

  .item-wrap > img {
    height: 238px;
    object-fit: cover;
  }
}

// Hot Deals

#home__hotdeals {
  img {
    width: 100%;
  }

  .bottom img,
  .top img {
    height: 300px;
  }

  .right-image img {
    height: 340px;
  }

  .right-image .top {
    margin-bottom: 20px;
  }
}

// responsive
/* Using SCSS variables to store breakpoints */
$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
  form.d-flex input {
    width: 100%;
  }
  form.d-flex {
    position: relative;
  }

  #home__popular .item .item-wrap > img {
    height: 94px;
  }
  #home__leaflet .item-wrap > img {
    height: 100px;
  }
  #home__hotdeals .right-image img {
    height: 89px;
  }
  .cat-img {
    min-height: 70px;
  }
}
