.seller-name.text-left.mb-3 {
    text-align: left;
}


.banner-list {
    padding-left: 30px;
}
.section-title {
    color: #007CC3;
    font-size: 36px;
}

.cat-left .accordion-body .form-check {
    text-align: left;
}

.banner-list {
    padding-left: 30px !important;
}

.banner-list .banner-1 img {
    height: 300px;
}
.banner-list .seller-banner img{
    width: 100%;
    height: 300px;
    object-fit: contain;
} 