.seller-name.text-left.mb-3 {
    text-align: left;
}

.seller-banner img {
    width: 100%;
} 
.banner-list {
    padding-left: 30px;
}
.section-title {
    color: #007CC3;
    font-size: 36px;
}

.cat-left .accordion-body .form-check {
    text-align: left;
}