.category-page{
    padding-top: 50px;
}

.cat-right {
    
    .item-wrap {
        position: relative;
    }
    .offer-tag {
        position: absolute;
        right: auto;left: 0;
        top: -27px;
        background: #EE2427;
        border-radius: 4px;
        color: white;
        padding: 4px 8px;
        font-size: 12px;
        font-weight: 600;
    }
    .img-wrap {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category-title-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .sort-dropdown button {
        background: transparent !important;
        color: #3E3E3E !important;
        border-color: #3E3E3E;
    }
    
    .sort-dropdown button:hover {color: white !important;background: #3E3E3E !important;border-color: #3E3E3E;}
    span.badge.badge-primary {
    background: #ccc;
    color: #3E3E3E;
    display: inline;
    align-items: center;
    padding: 7px 7px 7px 12px;
    margin-right: 15px;
}

span.badge.badge-primary button {
    border: 0;
    background: transparent;
    font-size: 20px;
}
}




.cat-left{  
    h2.accordion-header button {
        background-color: white !important;
    }
    h2.accordion-header button:focus {
        box-shadow: none;
    }
    h2.accordion-header button {
        font-weight: 700;
    }
    .accordion-body {
        padding-top: 0;
    }
    .accordion-body ul {
        padding-left: 0;margin-top: 15px;
    }
    .accordion-body ul li {
        line-height: 2;
        list-style: none;
    }
    .accordion-body ul li input {
        position: relative;
        top: 6px;    
    }
    h2.accordion-header button {
        font-weight: 700;
    }
    .range-min-max {
        display: flex;
        justify-content: space-between;
    }
    section.cat-price-filter {
        margin-top: 20px;
        border: 1px solid #dee2e6;
        background: #fff;
        padding: 15px;
        border-radius: 5px;
    }

}

.cat-for-desktop{display: block;}
.cat-for-mobile{display: none;}

// responsive
/* Using SCSS variables to store breakpoints */
$breakpoint-mobile: 767px;

@media (max-width: $breakpoint-mobile) {
    .cat-for-desktop{display: none;}
    .cat-for-mobile{display: block;}

}