.copywrite {
    background: #333;
    color: #fff;
    padding: 15px;
    font-size: 12px;
}

.footer-section {
    background: #f0f0f0;
    padding: 50px 0;
  
    border-top: 1px solid #ccc;
    font-size: 12px;
}
.footer-section ul li {
    list-style: none;
    line-height: 1.8;
}


.footer-section ul li a {
    text-decoration: none;
    color: black;
}

ul.social-media li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
}